{% extends "layout.html" %}
{% block title %} 用户信息修改 {% endblock %}
{% block link %} 
	<a href="{{ url_for('manager_user', id=user.user_id)}}"> 返回 </a>
{% endblock %}
{% block body %}
	{% if error %}
	<div class=error>
	  <strong>Errror : </strong> {{error}}
	</div>
	{% endif %} 
	{% if tips %}
	<div class=tips>
	  <strong>提示 : </strong> {{tips}}
	</div>
	{% endif %} 
	<form action="" method=post>
	  <dl>
	    <dt>请输入新密码(不输入就是不修改):</dt>
	    <dd><input type=password name=password size=30> </dd>
	    <dt>请确认新密码(不输入就是不修改):</dt>
	    <dd><input type=password name=password2 size=30> </dd>
	    <dt>邮箱:</dt>
	    <dd><input type=text name=email size=30 value={{user.email}}> </dd>
	  </dl>
	  <div class=actions><input type=submit value="确定"></div>
	</form>

{% endblock %}
