{% extends "layout.html" %}
{% block title %} 增添书目 {% endblock %}
{% block link %} 
	<a href="{{ url_for('manager_books')}}"> 返回 </a>
{% endblock %}
{% block body %}
	<h2> 现有书籍增加馆藏 </h2>
	{% if error %}
	<div class = error>
	  <strong>Error : </strong> {{error}}
	</div>
	{% endif %}
	{% if tips %}
	<div class=tips>
	  <strong>提示 : </strong> {{tips}}
	</div>
	{% endif %}
	<form action="" method=post>
	  <dl>
	    <dt>ISBN: </dt>
	    <dd><input type=text name=id size=30> </dd>
	    <dt>导入数目:</dt>
	    <dd><input type=text name=num size=30> </dd>
	  </dl>
	  <div class=actions>
	    <input type=submit value="添加">
	  </div>
	</form>

{% endblock %} 
